.heroImage {
  background-image: url(/images/hero/hero_original.jpeg);
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_320_700.jpeg) 1x,
      url(/images/hero/hero_610_1400.jpeg) 2x,
      url(/images/hero/hero_960_2100.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_320_700.jpeg) 1x,
      url(/images/hero/hero_610_1400.jpeg) 2x,
      url(/images/hero/hero_960_2100.jpeg) 3x
    );
  }
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_575_800.jpeg) 1x,
      url(/images/hero/hero_1150_1600.webp) 2x,
      url(/images/hero/hero_1725_2400.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_575_800.jpeg) 1x,
      url(/images/hero/hero_1150_1600.webp) 2x,
      url(/images/hero/hero_1725_2400.jpeg) 3x
    );
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_767_800.jpeg) 1x,
      url(/images/hero/hero_1534_1600.webp) 2x,
      url(/images/hero/hero_2301_2400.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_767_800.jpeg) 1x,
      url(/images/hero/hero_1534_1600.webp) 2x,
      url(/images/hero/hero_2301_2400.jpeg) 3x
    );
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_991_800.jpeg) 1x,
      url(/images/hero/hero_1982_1600.webp) 2x,
      url(/images/hero/hero_2973_2400.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_991_800.jpeg) 1x,
      url(/images/hero/hero_1982_1600.webp) 2x,
      url(/images/hero/hero_2973_2400.jpeg) 3x
    );
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_1199_800.jpeg) 1x,
      url(/images/hero/hero_2398_1600.webp) 2x,
      url(/images/hero/hero_3597_2400.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_1199_800.jpeg) 1x,
      url(/images/hero/hero_2398_1600.webp) 2x,
      url(/images/hero/hero_3597_2400.jpeg) 3x
    );
  }
}

@media only screen and (min-width: 1200px) {
  .heroImage {
    background-image: -webkit-image-set(
      url(/images/hero/hero_1920_800.jpeg) 1x,
      url(/images/hero/hero_3840_1600.webp) 2x,
      url(/images/hero/hero_5760_2400.jpeg) 3x
    );
    background-image: image-set(
      url(/images/hero/hero_1920_800.jpeg) 1x,
      url(/images/hero/hero_3840_1600.webp) 2x,
      url(/images/hero/hero_5760_2400.jpeg) 3x
    );
  }
}
